<footer class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-8 contact_us_section">
                <h2 class="contact_usHeading">
                    Contact Us
                </h2>
                <hr>
                <h5>Want to know something? Contact us. We’d love to hear from you!</h5>
                <div class="contact_options">
                    <h5>
                        <a href="tel:+91 9785852222">
                            <i class="fa-solid fa-phone-volume"></i> &nbsp; +91-9785852222
                        </a>
                    </h5>
                    <hr>
                    <h5>
                        <a href="mailto:ayrujaipur@gmail.com">
                            <i class="fa-solid fa-envelope"></i> &nbsp; ayrujaipur@gmail.com
                        </a>
                    </h5>
                    <hr>
                    <h5>
                        <a href="http://ayrujaipur.com">
                            <i class="fa-solid fa-globe"></i> &nbsp; www.ayrujaipur.com
                        </a>
                    </h5>
                    <hr>
                    <h5>
                        <div>
                            <i class="fa-solid fa-house-user"></i> &nbsp; Pratap Nagar, Jaipur- 302022
                            (Rajasthan) , INDIA
                        </div>
                    </h5>
                </div>

            </div>
            <div class="col-md-6 col-lg-4 usefullLinks">
                <h2 class="usefull_linksHeading">
                    Useful Links
                </h2>
                <hr>
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li><a href="#" target="_self">About Us</a></li>
                            <li><a href="#" target="_self">Contact Us</a></li>
                            <li><a href="#" target="_self">Client Love</a></li>
                            <li><a href="#" target="_blank">Privacy Policy</a></li>
                            <li><a href="#" target="_blank">Terms of Service</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li><a href="/return&refund-policy" target="_blank">Returns / Refund policy</a></li>
                            <li><a href="/Cancellation " target="_blank">Cancellation Policy</a></li>
                            <li><a href="/Shipping" target="_blank">Shipping Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

</footer>