<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - About Us" }) %>

        <!-- common CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>About Us</h1>
            </div>
            <div class="row">


                <h5>BLOCK PRINTING IN JAIPUR:</h5>

                <ol>
                    <li>
                        Block printing was introduced to the Jaipur region of Rajasthan in India. Block printing is a
                        traditional art that is
                        being followed from years. The designs and art forms that originated from block printing are
                        considered the most popular
                        and best all over the world. These traditional block printing designs are made by artisan's
                        hard-work and energy and add
                        a cultural and trendy vibe.
                        In addition to the normal designs, the traditional block print designs include designs of small
                        flowers, various bootis,
                        motifs, Mughal designs like elephants, luxuriant flowers, etc. from ancient times which are very
                        popular in India.
                    <li>
                        Block printing is a manual and time-consuming process. The wooden blocks are carved according to
                        the design required and
                        dipped into the natural or vegetable dyes and colors and then pressed on the cloth for the
                        printing on fabric.
                        Thus, Block printing needs proper artwork, experience, and knowledge of the artisans to create a
                        wonderful and artistic
                        piece of block printing designs and sustainable manufacturing practices to support the artisans
                        and
                        ensuring sustainability.
                    </li>

                </ol>

            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>