<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - About Us" }) %>

        <!-- common CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>About Us</h1>
            </div>
            <div class="row">

                <ol>
                    <li>
                        Welcome to "AYRU JAIPUR", a haven of handcrafted home furnishings that epitomize elegance,
                        heritage and timeless beauty,
                        where every stitch is infused with passion and every design tells a mesmerizing tale.
                    </li>

                    <li>
                        Our journey began with a deep appreciation for the intricate art of handblock printing, a
                        technique that has been passed
                        down through generations. Inspired by the richness of this craft and its ability to bring
                        character to living spaces, we
                        set out to curate a collection that would captivate the hearts and minds of our customers.
                    </li>

                    <li>
                        We believe in the power of handmade creations, the touch of an artisan's hand that adds a sense
                        of soul to every
                        product. Each step of our production process, from the careful selection of the finest cotton
                        fabrics to the skilled
                        hands that press the wooden blocks onto the fabric, is a testament to our commitment to quality
                        and craftsmanship. We
                        use only the high quality premium cotton fabrics, ensuring exceptional quality and durability.
                    </li>

                    <li>
                        Our designs blend traditional handblock printing techniques with contemporary aesthetics,
                        resulting in visually stunning
                        pieces that bring character and charm to any space. .We meticulously carve each block, ensuring
                        that every detail is
                        captured with precision, resulting in intricate and breathtaking designs. From intricate floral
                        patterns to geometric
                        motifs, each design tells a story of heritage and craftsmanship.
                    </li>

                    <li>
                        Sustainability and ethical practices are at the heart of our values. We prioritize using natural
                        dyes and eco-friendly
                        processes, minimizing our ecological footprint and preserving the environment for future
                        generations. We take pride in
                        working closely with local artisans, providing them fair wages ,supporting their livelihoods and
                        empowering them to
                        carry on the tradition of their ancestors.
                    </li>

                    <li>
                        We invite you to immerse yourself in the elegance and charm of our handcrafted home furnishings.
                        Let each piece find its
                        place in your sanctuary, transforming your living spaces into havens of comfort and style. With
                        our collection, you can
                        create a home that is a true reflection of your unique personality and appreciation for
                        exceptional craftsmanship.
                    </li>

                    <li>
                        At "AYRU JAIPUR", we believe that every home deserves to be adorned with beauty and imbued with
                        stories.
                    </li>

                    <li>
                        Join us on this journey, as we celebrate the artistry and heritage of handblock home
                        furnishings.
                        Experience the magic
                        of our collection, and let our products leave an indelible impression on your heart and home.
                    </li>

                </ol>

            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>