<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Cancellation" }) %>

        <!-- collections CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>Cancellation Policy</h1>
            </div>
            <div class="row">


                <ol>
                    <li>
                        Orders once placed cannot be cancelled. </li>
                    <li>
                        You can write to us at <a href="mailto:ayrujaipur@gmail.com">ayrujaipur@gmail.com</a> to
                        address your concern regarding your order.
                    </li>

                </ol>

            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>