<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Collections" }) %>

        <!-- collections CSS -->
        <link rel="stylesheet" href="/styles/collections.css">

        <!-- slick CSS -->
        <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick.css" />

        <link rel="stylesheet" type="text/css" href="/slick-1.8.1/slick/slick-theme.css" />


</head>

<body>

    <%- include('includes/header') %>


        <%- include("includes/footer") %>
</body>

</html>