<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Contact Us" }) %>

        <!-- common CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>Contact Us</h1>
            </div>
            <div class="row">
                <p>
                    We are always there to help you!
                </p>
                <p>
                    Ayru Jaipur
                    Our office Address:
                </p>
                <p>
                    Ayru jaipur <br>
                    Pratap Nagar <br>
                    Jaipur- 302022 <br>
                    Rajasthan , INDIA
                </p>
                <p>

                    Contact Number: +91-97858 52222
                </p>
                <p>
                    Office Timings: Mon - Sat 11:00 AM to 6:30 PM
                </p>
                <p>
                    For any appointments/queries please get in touch with us via mail at ayrujaipur@gmail.com

                </p>
            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>