<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Contact Us" }) %>

        <!-- common CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>Contact Us</h1>
            </div>
            <div class="row">
                <p>
                    We'd love to hear from you! Contact us using the information provided below.
                </p>
                <p>
                    We strive to respond to all inquiries within 24-48 hours. Please note that response times may be
                    longer during weekends and holidays.
                </p>
                <p>
                    whatsApp us : +91-9785852222 between 11:00 AM and 5:00 PM, Monday to Saturday.
                </p>
                <p>
                    Email :ayrujaipur@gmail.com
                </p>
                <p>
                    Contact Number: <span style="color:#0d6efd;">+91-97858 52222</span>
                </p>
                <p>
                    <a href="https://www.instagram.com/invites/contact/?i=1rve6fhof37i4&utm_content=4hx4x58"
                        target="_blank" rel="noopener noreferrer">Instagram </a>
                </p>
                <p>
                    <a href="https://www.facebook.com/AYRU20?mibextid=ZbWKwL" target="_blank"
                        rel="noopener noreferrer">Facebook</a>
                </p>
                <p>
                    Address: Sector-29, Pratap Nagar, 302022, Jaipur, Rajasthan, INDIA
                </p>
            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>