<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Refund policy" }) %>

        <!-- common CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>Return And Refund Policy</h1>
            </div>
            <div class="row">


                <ol>
                    <li>
                        To assist us in processing your return/Exchange more efficiently and resolving any issues
                        effectively, we may require a
                        parcel or unboxing video as part of the return policy.
                        <ul>
                            <li>
                                Before opening the package, start recording a video using a smartphone.
                            </li>
                            <li>
                                Show the package from all angles, including any visible signs of damage or tampering.
                            </li>
                            <li>
                                Carefully unbox the item, making sure to capture the process on video.
                            </li>
                            <li>
                                Clearly display the item and any accompanying accessories or documentation in the video.
                            </li>
                            <li>
                                If there are any defects, damages, or missing parts, please zoom in and provide a
                                detailed close-up view.
                            </li>
                        </ul>
                        Why We Require a Parcel or Unboxing Video:
                        <br>
                        The purpose of requesting a parcel or unboxing video is to protect both our customers and our
                        business from any
                        potential discrepancies. It helps us verify the condition of the returned item, determine if any
                        damages occurred during
                        transit, and resolve any issues promptly and fairly.
                    </li>
                    <li>
                        The item must be unused, in its original packaging, and in the same condition as when it was
                        received.
                    </li>

                    <li>
                        We accept exchange or returns ONLY if you've received items in a condition that is physically
                        damaged, has missing parts
                        or accessories, defective or different from its description.
                    </li>

                    <li>
                        If you receive a damaged or defective item, please contact us within 24 hours of delivery to
                        arrange for a replacement
                        or refund.
                    </li>

                    <li>
                        Refunds will be processed within 10 days after receiving the product.
                    </li>
                    <li>
                        Once item is received, it will go through verification process before a refund is issued
                    </li>
                </ol>
                Return Shipping:
                <ol>
                    <li>
                        Customers are responsible for return shipping costs, unless the return is due to an error on our
                        part. To ensure a
                        smooth return process, please use the original packaging and affix the provided return shipping
                        label/address.If you
                        need assistance with the return shipping process, please contact our Whatsapp number.
                    </li>
                    <li>
                        We would not be responsible for the loss of shipment while returning the product, or damage to
                        the product incurred
                        during the same.
                    </li>
                </ol>

                Conditions for Refusal:
                <ol>
                    <li>
                        Items that have been used, damaged, or altered.
                    </li>
                    <li>
                        Returns/Exchange initiated after the specified timeframe.
                    </li>
                    <li>
                        Without the parcel opening video, we are unable to verify the condition of the item or assess
                        any potential issues
                        accurately. In that case we will unable to proceed with your return request until we receive the
                        requested video.
                    </li>
                </ol>


                Additional Information:
                <ol>
                    <li>
                        For any further questions or concerns regarding our return and refund policy, please reach out
                        to our
                        WhatsApp number.
                    </li>
                    <li>
                        Please retain a copy of this policy for your reference. This policy is subject to change
                        without prior notice.

                    </li>
                </ol>
            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>