<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Refund policy" }) %>

        <!-- collections CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>Return And Refund Policy</h1>
            </div>
            <div class="row">


                <ol>
                    <li>
                        All our products go through various stages of rigorous quality check before getting dispatched.
                    </li>
                    <li>
                        We accept exchange or returns ONLY if you've received items in a condition that is physically
                        damaged, has missing parts or accessories, defective or different from its description.
                    </li>

                    <li>
                        We would not be responsible for the loss of shipment while returning the product, or damage to
                        the product incurred during the same.
                    </li>

                    <li>
                        Item must be unused and in the same condition that you received it, with tags intact if
                        applicable.
                        It must also be inthe original packaging. Once your request is approved, please connect for the
                        return address.
                    </li>

                    <li>
                        Once item is received, it will go through verification process before a refund is issued.
                    </li>
                </ol>

            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>