<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head',{ title : "Ayru Jaipur - Shipping " }) %>

        <!-- collections CSS -->
        <link rel="stylesheet" href="/styles/common.css">

</head>

<body>

    <%- include('includes/header') %>

        <main class="container">
            <div class="row heading">
                <h1>Shipping Policy</h1>
            </div>
            <div class="row">


                <ol>
                    <li>
                        Only prepaid orders are accepted (NO COD).
                    </li>
                    <li>
                        Free shipping within India.
                    </li>
                    <li>
                        International shipping borne by the client.
                    </li>
                </ol>

                <p>We dispatch order in 3-4 days except Sunday. Usually it reaches in 7-9 working days. If you want
                    express
                    shipping, Please leave us a note while placing the order and we can share the additional charges.
                    Most orders are
                    delivered within 10 working days.
                </p>

                <p>We strive to support our clients with the status update and tracking details and make sure the
                    packages
                    reach in time and as soon as possible. Having said that we have no control over the delays caused by
                    the
                    delivery partners and courier companies.
                    We request our clients to be patient in such cases as it might take a little longer than the
                    suggestedtimeline.
                </p>

                <p>
                    For international orders, the delivery may take more than the usual time specified above.
                </p>

                <p>
                    Once the product is shipped, you would receive an update on your watsapp number.
                </p>

                <p>
                    Any import duties, custom duties or taxes in relation to the shipment that may be liable in the
                    country
                    of final delivery will be borne by the customer.
                </p>

            </div>
        </main>


        <%- include("includes/footer") %>

</body>

</html>