body {
	background-color: #ffead5;
}

.itemImage {
	width: 100%;
}

.subImage {
	max-width: 100px;
	margin-bottom: 15px;
	cursor: pointer;
}

.itemPriceQuantity {
	display: flex;
	align-items: flex-end;
}

#itemPrice {
	color: #ff3522;
	font-size: 1.5rem;
}

#itemquantity {
	color: rgb(104, 104, 104);
	font-weight: 600;
}

.size {
	background: #febd59;
	border-radius: 5px;
	border: black 1px solid;
}

.waRedirectDiv {
	background: linear-gradient(
		90deg,
		rgb(18, 198, 101) 0.85%,
		rgb(0, 148, 70) 100%
	);
	font-size: 1.5rem;
	font-weight: 600;
	padding: 10px 5px;
	text-align: center;
	border-radius: 35px;
	margin-bottom: 10px;
}

.waRedirectDiv > a {
	text-decoration: none;
	color: #fff;
}

.descriptionHeading {
	color: rgb(70, 70, 70);
	font-weight: 600;
	font-size: 1.15rem;
}

.productDescription {
	line-height: 2;
}

.descriptionListItem {
	line-height: 2.5;
}

.descriptionListItem::before {
	content: "*";
	color: rgb(70, 70, 70);
}

.productMetaData {
	margin-left: 5px;
}

.saleItemImagediscountdiv {
	position: relative;
}
.product-card__discount {
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 15px;
	left: 15px;
	padding: 1px 3px;
	border-radius: 5px;
	border: solid 3px rgb(186, 0, 0);
	color: rgb(186, 0, 0);
	font-weight: 500;
	width: fit-content !important;
}

@media screen and (max-width: 576px) {
	.subImagesDiv {
		margin-top: 10px;
		display: flex;
		gap: 15px;
		justify-content: space-evenly;
	}

	.subImage {
		width: 20vw;
	}
}
